$tealColor: #009688;

@mixin boxSizing(){
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	     -o-box-sizing: border-box;
	        box-sizing: border-box;
}

@mixin transition($element, $time, $ease){
  -webkit-transition: $element $time $ease;
     -moz-transition: $element $time $ease;
      -ms-transition: $element $time $ease;
       -o-transition: $element $time $ease;
          transition: $element $time $ease;
}

*{
	@include boxSizing();
}


body{
	font: 18px/1.4 'Roboto', sans-serif;
	font-weight: 300;
}

a{ text-decoration: none; outline: none; @include transition(color, 0.3s, ease-in-out); color: #009688; }
a:hover{ text-decoration: none; outline: none; }

strong{ font-weight: 400; color: #009688; }

header{
	position: fixed; z-index: 0;
	width: 100%; min-height: 300px;
	background: $tealColor;
	padding: 40px;
	color: #FFF;
}

header h1.title{

}

header h2{
	font-size: 18px;
}

header a{ color: rgba(255,255,255,0.5); }
header a:hover{ color: rgba(255,255,255,1); }

.top6{ position: relative; top: 6px; }

main{
	position: relative; top: 200px; z-index: 2;
	min-height: 400px;
	margin: 0 auto; margin-bottom: 50px; padding: 40px !important;
	background: #FFF;
	box-shadow: 0 0 3px rgba(0,0,0,0.3);
}

main article{
	padding: 20px 0;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

main article:first-child{
	padding-top: 0;
}

main article:last-child{
	border-bottom: 0;
}

main article p{
	padding: 10px 0;
}

main div.botonera{
	position: absolute;
	top: -30px; right: 20px;
}

.why-features{
	text-align: center;
}
.why-features .why-icon{ font-size: 60px; position: relative; top: 8px; color: $tealColor; display: block; margin-bottom: 20px; }